/* for color constants */
:root {
    --guelph-red-solid: #c20430;
    --guelph-red-transparent: #c20430b6;
    --guelph-yellow-transparent: #ffc62ab6;
    --guelph-yellow-solid: #ffc62a;
    --guelph-black-transparent: #000000b6;
    --guelph-black-solid: #000000;
    --guelph-blue-solid: #69a3b9;
    --guelph-blue-transparent: #69a3b9b6;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: arial black;
    font-size: 100%;
    background-color: #f3d689;
}

/*Navigation Bar styles*/
.sticky-nav {
    background-color: #ec9a1f;
    padding-top: 0%;
    padding-bottom: 0%;
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 0;
}

.nav-list {
    list-style: none;
    margin: 1%;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

.sticky-nav .nav-list li a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

#no-background-team-logo {
    width: 15%;
    margin-top: 0%;
    margin-left: 0%;
    padding-top: 0.5%;
    float: left;
    /* This ignores other elements' formats*/
}

.sticky-nav .nav-list li {
    display: inline-block;
    list-style: none;
    padding: 2.5%;
    margin-top: 0%;
    margin-left: 0%;
    text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    padding: 15px 15px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--guelph-yellow-transparent);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    transition: 0.2s;
    color: white;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 18px;
}

.dropdown-content:hover {
    display: block;
    margin-top: 18px;
}


ul li a::after {
    background: var(--guelph-black-solid);
    position: absolute;
    content: '';
    width: 0;
    height: 7%;
    left: 0;
    bottom: 10%;
    transition: 0.5s;
}

.sticky-nav ul li a:hover::after {
    /* this is the part of the code which allows you to make the pink underline appear by hovering over the text*/
    width: 100%;
}

.sticky-nav li:hover ul#projects-dropdown {
    background-color: #ec9a1f;
    opacity: 1;
    top: 1%;
    visibility: visible;
}

/*Header Styles*/
h1 {
    /* background-image: url("images/2022 Competition/the fire one.jpg"); */
    font-size: 9em;
    text-align: center;
    padding: 6%;
    position: relative;
    text-shadow: 4px 4px #ec9a1f;
    z-index: 1;
    /* transition: ease-in-out 0.5s; */
}



/* Container holding the image and the text */
.index-container {
    position: relative;
    text-align: center;
    color: white;
    background-color: black;
}

.index-image {
    opacity: 0.8;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Flex container code */
.about-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* probably going to want different colours for each page, or a border */
.headshot-page {
    display: flex;
    height: 100vh;
    align-items: center;
    z-index: 10;
}

.headshot-page #first-team-photo {
    display: flex;
    width: 45%;
    height: auto;
    margin-top: 0%;
    margin-left: 5%;
    padding-top: 0.5%;
    justify-content: flex-start;
}

.img-container {
    background-color: var(--guelph-black-solid);
    display: flex;
    right: 0;
}

/* Specifically for the grid layout in the projects page */
#Projects {
    display: flex;
    width: 80%;
    height: auto;
    margin-top: 0%;
    margin-bottom: -20%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 9%;
    /* rounded corners */
    justify-content: flex-start;
}

.column {
    flex: 50%;
    margin-right: 5%;
}

@media screen and (max-width: 1000px) {
    .column {
        width: 100%;
        margin-right: 5%;
    }
}

.row {
    display: flex;
    margin-top: 5%;
}

/* For the fancy overlay thingy */
#overlay {
    position: relative;
    /* Sit on top of the page content */


    /* This is the issue here. The size of the box is technically fixed so it will only ever be this height. */
    width: 60%;
    /* Full width (cover the whole page) */

    height: 40%;
    /* idk how exactly to fix this, but I think it involves recoding this overlay */


    background-color: var(--guelph-yellow-solid);

    color: white;
    /* Black background with opacity */

    z-index: 1;
    /* Specify a stack order in case you're using a different order for other elements */

    cursor: pointer;
    /* Add a pointer on hover */

    margin-left: 2%;

    /* relative position  */
    bottom: 0%;

    border-radius: 9%;
    /* rounded corners */
}

/* for fancy overlay but have text not fade... complicated... */
#txt-overlay {
    position: relative;
    /* Sit on top of the page content */

    width: 60%;
    /* Full width (cover the whole page) */

    height: 40%;

    color: white;
    /* Black background with opacity */

    z-index: 3;
    /* Specify a stack order in case you're using a different order for other elements */

    cursor: pointer;
    /* Add a pointer on hover */

    margin-left: 2%;

    /* relative position  */
    bottom: 43%;

    border-radius: 14%;
    /* rounded corners */
}

#project-text {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    opacity: 1;
}

.column:hover .image {
    opacity: 1;
}

.image {
    opacity: 0.8;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.noULine {
    text-decoration-line: none;
}